# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\mingo\Desktop\IPVC\2 ano\PROG 2\Trabalho\fiverr_Wanna_Be\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
